
body{
	margin: 0;
	padding : 0;
}
body{
	 background :url(../img/kruto.gif) no-repeat center top / cover; 
	 height: 4000px;
	 background-size:cover; 
	}

.container{	
	width: 540px;
	height: 500px;
	margin: 0 auto;
}
p{
	margin-left: 140px;
	margin-top: 320px;
}
p2{
	margin-left: 190px;
}	

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

    
.menu li {
	display: block;
	margin-left: 140px;
	margin-top: 30px;
}

.menu li a {
	color: white;
	text-decoration: none;
	margin-right: 14px;

}


	
