

body{
	margin: 0;
	padding : 0;
}
body{
	 background :url(../img/giphy3.gif) no-repeat center top / cover; 
	 height: 900px;
	
	}

.container{	
	width: 540px;
	height: 900px;
	margin: 0 auto;
 	border: 10px solid red;
 	
}
p{
	margin-left: 160px;
	margin-top: 320px;
}
p2{
	margin-left: 210px;
}	

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

    
.menu li {
	display: block;
	margin-left: 160px;
	margin-top: 30px;
}

.menu li a {
	color: white;
	text-decoration: none;
	margin-right: 14px;

